@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

:root{
    --color:#6C5CE7;
}

*{
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all 0.2s linear;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header .logo{
    font-size: 2.5rem;
    color: #fff;
}

.header .logo i{
    padding: 0 .5rem;
}

.header .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .navbar ul li{
    margin: 0 1.5rem;
}

.header .navbar ul li a{
    font-size: 2rem;
    color: #fff;
}

.header .navbar ul li a:hover{
    color: #ccc;
}

.header .fa-bars{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    display: none;
}

.home{
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(purple , var(--color));
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-flow: column;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}

.home .banner{
    color: #fff;
    font-size: 5rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.3);
}

.home .slogen{
    color: #eee;
    font-size: 2.5rem;
    font-weight:400;
}

.home button{
    height: 4rem;
    width: 15rem;
    background: #fff;
    color: #444;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    outline: none;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.3);
}

.home button:hover{
    letter-spacing: .1rem;
    background: black;
    color: white;
}

.home button:focus{
  letter-spacing: .1rem;
  background: black;
  color: white;
  opacity: 0.8;
}

.home .wave{
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 11rem;
    background: url(wave.png);
    background-size: 100rem 11rem;
    background-repeat: repeat-x;
    width: 100%;
    animation: waves 10s linear infinite;
}

.home .wave2{
    animation-direction: reverse;
    opacity: 0.2;
}

.home .wave3{
    animation-duration: 4s;
    opacity: 0.5;
}

@keyframes waves{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 100rem;
    }
}


.home .fa-cog{
    position: absolute;
    font-size: 30rem;
    opacity: .15;
    color: #fff;
    animation: rotate 10s linear infinite;
}

.home .nut1{
    top: 10%;
    left: -15rem;
}

.home .nut2{
    bottom: 23%;
    right: -13rem;
    animation-direction: reverse;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

/* Abouttt=============== */


.about{
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.heading{
    margin: 2rem;
    padding-top: 6rem;
    display: inline-block;
    font-size: 4rem;
    color: var(--color);
    position: relative;
    letter-spacing: 0.3rem;
}

.heading::before, .heading::after{
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border-top: .4rem solid var(--color);
    border-left: .4rem solid var(--color);
}

.heading::before{
    top: 5.8rem;
    left: -2rem;
}

.heading::after{
    bottom: -.5rem;
    right: -2rem;
    transform:  rotate(180deg);
}

.about .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 4rem;
    margin-top: 2.3rem;
}

.about .row .content{
    text-align: left;
    padding-right: 3rem;
}

.about .row .images img{
    height:38rem;
    width:40rem;
    border-radius: 20%;
    border:.5rem solid #fff; 
    box-shadow: 0 0 .5rem rgba(0,0,0,.5);
    object-fit: cover;
    box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.5);
}

.about .row .images img:hover{
  transform: translate(5px,-6px);
  transition: 1s;
}

.about .row .content h3{
    font-size: 4rem;             
    color: var(--color);
}

.about .row .content p{
    font-size: 2rem;
    color: #333;
    padding: 1rem 0;
}

.about::before , .about::after{
    content: '';
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    border-radius: 50%;
}

.about::before{
    height: 50rem;
    width: 50rem;
    background: #ccc;
    bottom: -10rem;
    left: -10rem;
}

.about::after{
    height: 60rem;
    width: 60rem;
    background: var(--color);
    top: -10rem;
    right: -10rem;
}


.btn{
    outline: none;
    border: none;
    border-radius: 5rem;
    background: var(--color);
    color: #fff;
    cursor: pointer;
    height: auto;
    width: 25rem;
    padding: 1.2rem;
    font-size: 2rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.3);
}

.btn:hover{
    opacity: .8;
    letter-spacing: .1rem;
}

/* Skills Tag */

.skills{
    width: 100vw;
    text-align: center;
  }
  
  .skills .row{
    margin:2rem 0;
    padding:0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* .skills .row-r{
    flex-flow: row-reverse;
  }
   */
  .skills .row .images img{
    width:50vw;
    height:55vh;
  }
  
  .skills .row .content1{
    text-align: left;
    padding:2rem;
  }
  
  .skills .row .content1 h3{
    font-size: 4rem;
    color:var(--color);
  }
  
  .skills .row .content p{
    font-size: 2rem;
    color:#333;
    padding:1rem 0;
  }


  /* My status */

  .mystatus{
    min-height: 100vh;
    width:100vw;
    text-align: center;
    background-color: #222;;
  }
  
  .mystatus .heading{
    color:#fff;
  }
  
  .mystatus .heading::before, .mystatus .heading::after{
    border-color:#fff;
  }
  
  .mystatus .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .mystatus .row .card{
    height:auto;
    width:100rem;
    background:#fff;
    text-align: center;
    margin:7rem 2rem;
    position: relative;
    overflow: hidden;
    -webkit-box-reflect: below .2rem linear-gradient(transparent 100%, #0004);
/*     padding: 0 4rem; */
      padding:2.5rem;
  }
  
  .mystatus .row .card .images{
    margin:1rem 0;
    padding-top: 4rem;
  }
  
  .mystatus .row .card .images img{
    height:14rem;
    width:14rem;
    border-radius: 50%;
    border:.5rem solid #fff;
    box-shadow: 0 0 .5rem rgba(0,0,0,.3);
    object-fit: cover;
  }
  
  .mystatus .row .card .info h3{
    font-size: 2rem;
    color:#333;
  }
  
  .mystatus .row .card .info span{
    font-size: 1.8rem;
    color:var(--color);
  }

/* .mystatus .row .card .info .icons a{
    margin-top: 4rem;
    padding:0 1rem;
    font-size: 3rem;
    color:#333;
  }
  
  .mystatus .row .card .info .icons a:hover{
    color:var(--color);
  } */
  
  .icons11 a{
    font-size: 3rem;
    color:#333;
  }
  .icons11 a:hover{
    color:#2ce29c;
    cursor: pointer;
  }
  
  .mystatus .row .card::before, .mystatus .row .card::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    height:15rem;
    width:15rem;
    z-index: -1;
  }
  
  .mystatus .row .card::before{
    background:var(--color);
    top:-3rem; right: -4rem;
  }
  
  .mystatus .row .card::after{
    background:#ccc;
    bottom:-3rem; left: -4rem;
  }


  /* contact=============== */
  .contact{
    min-height: 100vh;
    width: 100vw;
    text-align: center;
  }
  
  .contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact .row .images img{
    height: 70vh;
    width:50vw;
  }
  
  .contact .row .form-container{
    width: 50%;
    text-align: left;
    padding:0 5rem;
  }
  
  .contact .row .form-container input, textarea{
    outline: none;
    border:none;
    height:4rem;
    background: none;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .5rem rgba(0,0,0,.2);
    padding:0 1rem;
    margin:1rem 0;
    font-size: 1.6rem;
  }
  
  .contact .row .form-container .inputBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .contact .row .form-container .inputBox input[type="text"]{
    width: 49%;
  }
  
  .contact .row .form-container input[type="email"]{
    width: 100%;
  }
  
  .contact .row .form-container textarea{
    width: 100%;
    height:20rem;
    padding:1rem; 
    resize: none;
  }
  
  .contact .row .form-container input[type="submit"]{
    background-color: var(--color);
    color:#fff;
    cursor: pointer;
    height:4rem; 
    width: 10rem;;
  }
  
  .contact .row .form-container input[type="submit"]:hover{
    opacity: .8;
  }


/* Projects------------------------------------------------------------------------------- */

.Projects{
  width: 100%;
  height: auto;
  text-align: center;
    background-color: #f4f2f2;
}


.main_c_p{
  padding: 0 6%;
  margin-top: 2rem;
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */

  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Add margin between project cards */
  
}

/* ///////////////////////////////////////////// */

.myproject {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 1s ease;
  /* max-width: 400px; Limit the width of each project card */
  width: 80%; /* Ensure the cards take full container width */
  margin-bottom: 2rem;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.myproject h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 10px;
}

.duration_proj {
  color: #777;
  font-size: 16px;
  margin-bottom: 20px;
}

.desc_Proj {
  color: #444;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.tech_use {
  text-align: left;
  margin-bottom: 20px;
}

.tech_use h5 {
  color: #555;
  font-size: 20px;
  margin-bottom: 10px;
}

.tech_use ul {
  list-style: none;
  padding: 0;
}

.tech_use li {
  color: #666;
  font-size: 16px;
  margin-bottom: 5px;
}

.link {
  font-size: 18px;
  margin-top: 20px;
}

.link a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link a:hover {
  color: #0056b3;
}


/* ////// */


/* Footer------------- */

  .footer{
    width:100%;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    padding:1rem 2rem;
    margin-top: 1rem;
    background:black;
  }
  
  .footer h1{
    color:#fff;
    letter-spacing: .1rem;
    font-weight: 400;
    text-align: center;
    padding: 0 2rem;
  }

  .footer .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem; 
  }
  
  .footer .icons a{
    color:#fff;
    font-size: 2.3rem;
    margin: 0 2rem;
  }

  .footer .icons a:hover{
    color: var(--color);
  }

.email{
    position: fixed;
    bottom: 6rem;
    right: 5rem;
    z-index: 1000;
  }

  .iwhat{
    width: 80px;
    height: 80px;
  }




/* Media Q */

@media (max-width:768px){
    html{
        font-size: 60%;
    }

    .header .fa-bars{
        display: block;
        /* ............ */
        position: absolute;
        right: 25px;
    }

    .header .navbar{
        position: fixed;
        top: -120%;
        left: 0;
        height: auto;
        width: 100%;
        z-index: 1000;
        border-top: .1rem solid rgba(0, 0, 0, 0.3);
        background-color: #fff;
    }

    .header .navbar ul{
        height: 100%;
        width: 100%;
        flex-flow: column;
    }

    .header .navbar ul li{
        margin: 1rem 0;
    }

    .header .navbar ul li a{
        font-size: 2.4rem;
        color: #444;
    }

    .header .fa-times{
        transform: rotate(180deg);
    }

    .header .nav-toggle{
        top: 5.8rem;
    }

    .home .banner{
        font-size: 3.6rem;
    }

    .home .slogen{
        font-size: 1.7rem;
    }

    .about .row{
        flex-flow: column-reverse;
        padding: 0 2rem;
    }
    
    .about .row .images img{
        width: 100vw;
    }

    .skills .row{
        flex-flow: column-reverse;
      }
    
      .skills .row:nth-child(even){
        flex-flow: column;
      }
    
      .skills .row .images img{
        width: 100vw;
      }
    
      .skills .row .content1{
        padding: 1.8rem;
        width: 96%;
      }

      .contact .row{
        flex-flow: column;
      }
    
      .contact .row .images img{
        width: 100vw;
      }
    
      .contact .row .form-container{
        width: 100%;
        padding:0 1.5rem;
      }

      .mystatus .row .card{
        height: auto;
      }

      .mystatus .row .card .info .icons a{
        margin-bottom: 4rem;
      }
      .about .row .content{
        margin-bottom: 4rem;
      }

      .about .row .images img{
        height:40rem;
        width:35rem;
        border-radius: 10px;
        border:.5rem solid #fff;  
        box-shadow: 0 0 .5rem rgba(0,0,0,.5); 
        object-fit: cover;
        
      }

      .about .row .images{
        margin-bottom: 4rem;
        margin-top: 2rem;
      }

    .about .row .content h3{
        font-size: 3.35rem;             
    }
    
      .about .row .content p{
          font-size: 1.85rem;
      }

      /* /////// */

      .myproject{
        width: 100%;
        height: auto;
        border-radius: 30px;
        padding: 1.8rem;
        margin: 2rem 0rem;
      }
      
      .myproject h1{
        font-size: 2.5rem;
      }
      
      .duration_proj{
        font-size: 1.2rem;
        text-align: center;
      }
      
      .desc_Proj{
        font-size: 1.5rem;
        text-align: left;
        padding: 0rem 1.5rem;
        margin-top: 2rem;
      }
      
      
      .tech_use{
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        padding: 0rem 2.1rem;
      }
      
      .tech_use h5{
       text-align: left;
       font-size: 1.8rem;
      }
      
      .tech_use ul li{
        text-align: left;
        font-size: 1.5rem;
      }
      
      .link{
        margin-top: 3rem;
        font-size: 1.6rem;
        font-weight: 500;
      }

      /* /////// */

    .email{
        position: fixed;
        bottom: 4rem;
        right: 2rem;
        z-index: 1000;
      }
      .iwhat{
        width: 60px;
        height: 60px;
      }

      .Softskill{
        width: 60%;
      }

      /* ----------------------- */

    .Rimg{
        display: none;
      }
    /* ---------------- */
      a.rml{
        font-size: 1.7rem;
        font-weight: 500;
      }
    /* -------------------- */
      .main-edu-container{
        flex-direction: column;
        /* gap: 2rem; */
      }
      .main-edu-container .edu-card{
        margin: 2rem 0rem;
      }
     
    
}

@media (max-width:550px){
    .footer{
      flex-flow: column;
    }
    .footer h1{
      text-align: center;
    }
    .footer .icons{
      padding:2rem 0;
    }
  }


  .fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  .fade.show {
    opacity: 1;
  }
  

  /* -------------------------------------------------------------- */
  .banner {
    /* font-family: 'Arial', sans-serif; */
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    display: inline-block;
    animation: typing 5s steps(28, end), blink-caret 0.75s step-end infinite, fade-out-cursor 0.5s 4s forwards;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #333;
    }
}
/* -------------------------------------------------------------------- */

.header {
  color: #fff;
  text-align: center;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  background: linear-gradient(45deg, #ff6b6b, #ffa07a, #ffdb58, #87ceeb, #6a5acd, #ff6b6b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: changeColor 5s linear infinite, moveGradient 10s linear infinite;
  letter-spacing: 2px;
}

@keyframes changeColor {
  0%, 100% {
      color: transparent;
  }
  20% {
      color: rgba(255, 107, 107, 0.8);
  }
  40% {
      color: rgba(255, 160, 122, 0.8);
  }
  60% {
      color: rgba(255, 219, 88, 0.8);
  }
  80% {
      color: rgba(135, 206, 235, 0.8);
  }
}

@keyframes moveGradient {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

/* ---------------------------------------------------------------------- */
/* Add this CSS to your stylesheet */
.content1 {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 20px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.content1 h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.content1 ul {
  list-style: none;
  padding: 0;
}

.content1 ul li {
  font-size: 2rem;
  margin-bottom: 10px;
}

.content1 ul li span {
  font-weight: bold;
  color: #007BFF;
}

.content1 p {
  font-size: 16px;
  color: #666;
}

/* Add this CSS for the hover effect */
.content1:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


/* Add this animation when the element enters the viewport */
.fade11 {
  opacity: 1;
  transform: translateY(0);
}
/* --------------------------------------------------------------------------- */
.mcfrml{
  display: none;
}

.readlesshide{
  display: none;
}

.rmlllmargin{
  margin-bottom: 2rem;
}

.rml{
  text-decoration: underline;
  font-size: 2rem;
  font-weight: 500;
  color: #9d9b9b;
  /* color: #101dde; */
  cursor: pointer;
}
/* --------------------------------------------------- */
.main-edu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 5rem;
  margin-top: 2rem; */
}

.edu-card{
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 2px;
  border-style: dashed;
  /* padding: 20px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 230px;
  padding: 2rem;
  margin: 4rem 3rem;
}

.edu-card:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transform: translateX(-5px);
  transform: translateY(5px);
}

.head-edu{
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 600;
  color: #6a5acd;
}

.type-edu{
  font-size: 11px;
  margin-top: 0.6rem;
  font-style: italic;
}

.institute-edu{
  font-size: medium;
  margin-top: 1rem;
}

.Score-edu{
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 0.3rem;
}

.sp-edu{
  margin-top: 1.5rem;
  color: #007BFF;
  font-size: 1.3rem;
}
/* -------------------------------------------------------------------- */

.footer {
  border-top: 7px solid yellow;
  border-top-left-radius: 30px; 
  border-top-right-radius: 30px;
  padding-top: 20px; 
}
/* ---------------------------------------------------------------- */

/* Snow Effect */
.snowflake {
  position: absolute;
  color: #ffffff;
  user-select: none;
  pointer-events: none;
  animation: fall linear infinite, glow 1s ease-in-out infinite alternate;
  z-index: 2000;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.6)); 
  }
  100% {
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.9));
  }
}

/*-------------------------------------------------------------------------------  */
